﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*added custom styles by Hidayat @rghandabi*/

ul.nav.nav-tab {


    margin: 10px 20px;
}


.nav-tabs {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}

ul.nav.nav-tab li:not(.active) {
    background-color: #EEEEEE;
    color: grey
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: lightgrey;
    color: grey;
}

ul.nav.nav-tabs li.active a {
    border-top: 3px solid #16a765;
    font-weight: bold;
}