﻿
@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#firstTab">View All</a></li>
    <li><a data-toggle="tab" href="#secondTab">Add New</a></li>
</ul>
<div class="tab-content">
    
    @*added for the upper tabs*@
    @*for changing according to the tab need id identifier*@
    <div id ="firstTab" class="tab-pane fade in active">@Html.Action("ViewAll")</div>

    <div id="secondTab" class="tab-pane fade in">@Html.Action("AddOrEdit")</div>

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
